test-results
node_modules

# Adam
_page*
_layout*
_*.svelte

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
e2e
tmp
src/routes/(sites)/passagetobalance.com/components/Contact copy.svelte
src/lib/style copy.css
