{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"plugins": ["prettier-plugin-svelte"],
	"semi": false,
	"bracketSameLine": false,
	"proseWrap": "always",
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
